<br>
<br>

<footer>
<p>Copyright (c) 2023, AnIdiot (aka., João O. Santos),
<a href="http://creativecommons.org/licenses/by-nd/4.0/">CC-BY-ND-4.0</a>
	<a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">
		<img alt="Creative Commons License" style="border-width:0"
		     src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png">
	</a>
</p>
<p>Made using 
<a href="https://gitlab.com/joao-o-santos/make-it-stop">make it_stop</a>
a static website generator being developed by An Idiot—me!</p>
</footer>

</body>
</html>
